<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline" />
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wash" href="/tabs/wash">
      <ion-icon name="water-outline" />
      <ion-label>Lavar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/tabs/notifications">
      <ion-icon name="notifications-outline" />
      <ion-label>Notificações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person-outline" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
